.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0;
  color: #ffffff;
}

.body:not(.active) {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Source Sans Pro", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.shape-flower {
  padding: 6px 4px;
  line-height: 24px;
  border-radius: 4px;
  background-color: #6f6eff;
  box-shadow: 0 0 12px 0 #7271ff;
}

.shape-thunder {
  padding: 6px 8px;
  line-height: 24px;
  border-radius: 4px;
  background-color: #ff4738;
  box-shadow: 0 0 12px 0 rgba(255, 71, 56, 0.5);
}

header {
  display: flex;
  background-color: #2b2c3a;
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  background-color: #343546;
}
header .logo-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 1px;
  color: #ffffff;
}
header .logo-version {
  background-color: #414257;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  padding: 4px 8px;
  color: #ffffff;
  border-radius: 3px;
  margin: 0 8px;
}
header .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .country-dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #2b2c3a;
  display: block;
  margin: 10px 0;
  overflow: auto;
  max-height: 200px;
  z-index: 1;
}
header .country-dropdown-content.show {
  visibility: visible;
}
header .country {
  margin: 10px 5px;
}
header .text-white {
  color: #ffffff;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0;
}
header .nav-left {
  display: flex;
  margin: 0 0 0 55px;
}
@media screen and (max-width: 1290px) {
  header .nav-left {
    margin: 0 0 0 12px;
  }
}
header .nav-left-link:not(:first-child) {
  margin: 0 30px;
}
@media screen and (max-width: 1290px) {
  header .nav-left-link:not(:first-child) {
    margin: 0 15px;
  }
}
header .nav-left-link:first-child {
  margin-right: 30px;
}
header .nav-left-link a:not(.text-white) {
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.6);
}
header .nav-left-link:last-child::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
header .nav-right {
  display: flex;
  align-items: center;
  margin: 0 55px;
}
@media screen and (max-width: 1290px) {
  header .nav-right {
    margin: 0 20px 0 0;
  }
}
header .nav-right a {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-right .score {
  font-size: 13px;
  font-weight: 600;
  line-height: 10px;
  margin: 0 5px;
}
header .nav-right .user-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0;
  margin-bottom: 5px;
}
header .nav-right .user-status {
  font-weight: 600;
  font-size: 13px;
  line-height: 10px;
  letter-spacing: 0;
  color: #24cb8d;
  display: inline-block;
}
header .nav-right .user-status:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #24cb8d;
  border-radius: 50%;
  margin: 0 5px;
}
header .nav-right .purchase {
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0;
  font-weight: 700;
  padding: 2px 10px;
  background-image: linear-gradient(#6f6eff, #7271ff);
  box-shadow: 0 0 12px 0 #7271ff;
  border-radius: 4px;
  margin: 0 0 15px 10px;
}
@media screen and (max-width: 1290px) {
  header .nav-right .purchase {
    margin: 0 0 15px 6px;
  }
}
header .nav-right .duration {
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0;
  opacity: 60%;
}
header .nav-right-link:not(:last-child) {
  margin: 0 15px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  min-width: 80px;
}
@media screen and (max-width: 1290px) {
  header .nav-right-link:not(:last-child) {
    margin: 0 5px;
  }
}
header a {
  text-decoration: none;
}

.sidebar {
  width: 280px;
  float: left;
  height: calc(100vh - 72px);
  background-color: #343546;
}
.sidebar .hide {
  display: none;
}
.sidebar li:hover {
  cursor: pointer;
  background-color: rgba(67, 71, 112, 0.3);
}
.sidebar .arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(225deg);
  float: right;
}
.sidebar .rotate .arrow {
  transform: rotate(45deg);
}
.sidebar-links .games {
  color: #ffffff;
  padding: 30px 30px 15px;
}
.sidebar-links .games:hover {
  cursor: pointer;
}
.sidebar-links .mygames {
  padding: 20px 30px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.sidebar-links .chocolatebar {
  margin-right: 16px;
}
.sidebar-links .dark {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 220px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-links a {
  text-decoration: none;
  color: #ffffff;
}
.sidebar .sidebar-games .all-games {
  color: #ffffff;
  padding: 8px 30px;
}
.sidebar .sidebar-games .categories {
  color: #ffffff;
  padding: 8px 30px;
}
.sidebar .categories-links .category-item {
  padding: 15px 50px;
}
.sidebar .categories-links .category-item.active {
  border-left: 3px solid #6f6eff;
  background-color: rgba(67, 71, 112, 0.3);
}
.sidebar .categories-links .category-item.active .game-categories {
  color: rgba(255, 255, 255, 0.6);
}
.sidebar .categories-links .category-item img {
  margin-right: 25px;
}
.sidebar .categories-links .category-item:hover {
  cursor: pointer;
}
.sidebar .categories-links .category-item .game-categories {
  color: rgba(255, 255, 255, 0.5);
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: #ffffff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: transparent;
  box-shadow: 0 0 12px 0 #7271ff;
}

input:checked + .slider:before {
  transform: translateX(18px);
  box-shadow: 0 0 12px 0 #7271ff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: #6f6eff;
  box-shadow: 0 0 12px 0 #7271ff;
}

.container {
  max-width: 1050px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn-badge {
  padding: 8px 18px;
  border: none;
  background-image: linear-gradient(#6f6eff, #7271ff);
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  border-radius: 4px;
}
.btn-badge:hover {
  cursor: pointer;
}

main {
  position: absolute;
  left: 280px;
  right: 0;
  padding: 40px 0;
  box-sizing: border-box;
  height: calc(100vh - 72px);
  background-color: #2b2c3a;
}

.game-details .offer {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}
.game-details .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.navigations *:not(.arrow) {
  margin-left: 10px;
}
.navigations [class^=nav] {
  padding: 6px 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}
.navigations [class^=nav]:hover {
  cursor: pointer;
}
.navigations .arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.navigations .arrow-left {
  transform: rotate(135deg);
}
.navigations .arrow-right {
  transform: rotate(-45deg);
}

.game-details {
  overflow: hidden;
}

button:disabled {
  opacity: 0.3;
}

.card-stage {
  width: 2550px;
  transition: all 0.25s ease 0s;
}
.card-stage .card {
  display: inline-block;
  min-height: 294px;
  border-radius: 6px;
  width: 10%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.04);
}
.card-stage .card:not(:last-child) {
  margin-right: 8px;
}
.card-stage .game-img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}
.card-stage .game-category-badge {
  position: absolute;
  left: 15px;
  top: 15px;
}

.card-description {
  padding: 15px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  height: 88px;
  box-sizing: border-box;
}
.card-description .game-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0;
  color: #ffffff;
  margin-bottom: 10px;
}
.card-description .game-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.5);
}

.score-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #ffffff;
}